<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><img height='30px' width='30px' src='<%= current_member.thumb %>'> Profile of <%= current_member.username %></h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Player Stats</h3>
      </div>
      <div class="panel-body">
        <div id="table_stats"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plays by day of week</h3>
      </div>
      <div class="panel-body">
        <div id="dayofweek"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plays by hour of day</h3>
      </div>
      <div class="panel-body">
        <div id="hourofday"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plays by Platform</h3>
      </div>
      <div class="panel-body">
        <div id="platform"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plays by Category</h3>
      </div>
      <div class="panel-body">
        <div id="category"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plays by Date</h3>
      </div>
      <div class="panel-body">
        <div id="plays_by_date"></div>
      </div>
    </div>
  </div>
</div>
<script>

google.charts.load('current', {packages: ['corechart', 'bar','calendar','table']});
 google.charts.setOnLoadCallback(bydate);
google.charts.setOnLoadCallback(dayofweek);
google.charts.setOnLoadCallback(hourofday);
google.charts.setOnLoadCallback(category);
google.charts.setOnLoadCallback(platform);
google.charts.setOnLoadCallback(drawTable);
function category(){
  var data = '<%=@get_plays_by_top_10_platforms_by_category%>'.replace(/&quot;/g,'"')
  var data = google.visualization.arrayToDataTable(JSON.parse(data));
          var options = {
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('category'));
        chart.draw(data, options);
}
function platform(){
  var data = '<%=@get_plays_by_top_10_platforms_by_platform%>'.replace(/&quot;/g,'"')
  var data = google.visualization.arrayToDataTable(JSON.parse(data));
          var options = {
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('platform'));
        chart.draw(data, options);
}
function dayofweek() {
  var data = '<%=@get_plays_by_dayofweek%>'.replace(/&quot;/g,'"')
  var data = google.visualization.arrayToDataTable(JSON.parse(data));

  var options = {
    legend: {position: 'bottom'}
  };

  var material = new google.charts.Bar(document.getElementById('dayofweek'));
  material.draw(data, options);
}
function hourofday() {
  var data = '<%=@get_plays_by_hourofday%>'.replace(/&quot;/g,'"')
  var data = google.visualization.arrayToDataTable(JSON.parse(data));

  var options = {
    legend: {position: 'bottom'}
  };

  var material = new google.charts.Bar(document.getElementById('hourofday'));
  material.draw(data, options);
}
function bydate(){
  var data = JSON.parse('<%=@get_plays_by_date%>'.replace(/&quot;/g,'"'))
  var rows = []
  var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Plays' });
       row=[]
       for (i=0; i< data.length;i++){
         row.push([new Date(data[i]["date"][0],data[i]["date"][1],data[i]["date"][2]),data[i]["count"]])
       }
       dataTable.addRows(row);

       var chart = new google.visualization.Calendar(document.getElementById('plays_by_date'));

       var options = {
         title: "Plays by Date",
         height: 350,
       };
       chart.draw(dataTable, options);
}
function drawTable() {
      images_platform = {
        "Android" : "http://icons.iconarchive.com/icons/carlosjj/google-jfk/128/android-icon.png",
        "Chrome"  : "http://cdn.portableapps.com/GoogleChromePortable_256.png",
        "Opera"   : "http://www.techspot.com/images2/downloads/topdownload/2014/05/opera.png",
        "Linux"   : "https://dynamicimagesmx-v2b.netdna-ssl.com/product_class_external_product/linux.png",
        "Playstation 4" : "http://vignette3.wikia.nocookie.net/clubpenguin/images/4/47/Playstation-logo-png.png/revision/latest?cb=20140517183555",
        "Samsung" : "http://www.brycomm.com/wp-content/uploads/2011/08/Samsung-Logo.png"
      }
      json_data = JSON.parse('<%=@get_player_stats%>'.replace(/&quot;/g,'"'))
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Platform');
        data.addColumn('string', 'Player Name');
        data.addColumn('number', 'Plays');
        row = []
        for (i=0; i< json_data.length;i++){
          img = "https://avatars0.githubusercontent.com/u/16332011?v=3&s=88"
          if (json_data[i]["platform_type"] in images_platform){
            img = images_platform[json_data[i]["platform_type"]]
          }

          row.push(["<center><img height='30px' width='30px' src='"+img+"'/></center>",json_data[i]["player_name"],json_data[i]["total_plays"]])
        }
        data.addRows(row);

        var table = new google.visualization.Table(document.getElementById('table_stats'));

        table.draw(data, {allowHtml: true, showRowNumber: true, width: '100%', height: '100%'});
      }
</script>
